<link href="../../../public/build/output.css" rel="stylesheet">
<footer class="bg-white dark:bg-gray-900 transition-all">
    <div class="container px-6 py-8 mx-auto">
        <div class="flex flex-col items-center text-center">
            <a href="../views/menu.php">
                <p class="text-lg font-semibold tracking-widest text-gray-900 dark:text-gray-200 uppercase rounded-lg focus:outline-none focus:shadow-outline"> TrendyShop</p>
            </a>
            <p class="max-w-md mx-auto mt-4 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="flex flex-col mt-4 sm:flex-row sm:items-center sm:justify-center">
            </div>
        </div>
        <hr class="my-10 border-indigo-100 dark:border-gray-600" />
        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-gray-500 dark:text-gray-400">© Copyright 2024. Todos os direitos reservados.</p>
            <div class="flex mt-3 -mx-2 sm:mt-0">
                <a href="#" class="mx-2 text-sm text-gray-500 dark:text-gray-400 duration-300 hover:text-indigo-500 dark:hover:text-indigo-500 hover:underline"> Termos </a>
                <a href="#" class="mx-2 text-sm text-gray-500 dark:text-gray-400 duration-300 hover:text-indigo-500 dark:hover:text-indigo-500 hover:underline"> Cookies </a>
            </div>
        </div>
    </div>
</footer>